:root {
}

.bigBoxes {
    -unity-background-image-tint-color: rgb(255, 255, 255);
    background-color: rgb(142, 245, 149);
    border-top-width: 6px;
    border-right-width: 6px;
    border-bottom-width: 6px;
    border-left-width: 6px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    padding-top: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 5px;
    width: 50%;
    height: auto;
    max-width: 50%;
}

.item {
    flex-grow: 1;
    width: auto;
    height: auto;
    max-width: none;
    max-height: none;
    min-width: auto;
    min-height: auto;
    border-top-width: 5px;
    border-right-width: 5px;
    border-bottom-width: 5px;
    border-left-width: 5px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    background-color: rgb(255, 135, 0);
}
