.caja:hover {
    background-color: rgb(255, 156, 30);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-wrap: nowrap;
    width: 50%;
    height: 50%;
    flex-grow: 1;
    scale: 1.1 1.1;
    translate: 0 0;
}

.caja {
    background-color: rgb(133, 212, 153);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
    flex-wrap: nowrap;
    width: 50%;
    height: 50%;
    flex-grow: 1;
}
