:root {
}

.unity-label {
    width: auto;
    height: auto;
    min-width: 0%;
}

.tarjeta {
    flex-grow: 1;
    aspect-ratio: 0.6666667;
    height: auto;
    max-height: none;
    width: 25%;
    min-width: auto;
    max-width: 25%;
    min-height: auto;
    justify-content: flex-start;
    align-self: auto;
    align-items: stretch;
    flex-basis: auto;
    align-content: flex-start;
    flex-direction: column;
}

.imgBackgroundSelect {
    flex-grow: 1;
    min-width: auto;
    border-top-width: 2px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-left-width: 2px;
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
